/* App.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #19313F;
  padding: 10px 20px;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.logo img {
  height: 40px;
}

.logo span{
  color: #0EFF26;
  font-family: Revalia;
  font-size:large;
  justify-content: ;
}

.user-profile {
  color: white;
}

